# Modules
node_modules/

# Ideas and Notes
ideas-notes/

# Desktop
.vscode
*.ini
*.example
*.ico

# Logs
logs/
*.logs

# Enviornments 
.env
.env.test
.env.example

# Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.env
